/program1/files/lecture-w01.pdf
/program2/files/lecture-w02.pdf
/program3/files/lecture-w03.pdf
/program4/files/lecture-w04.pdf
/program5/files/lecture-w05.pdf
/program6/files/lecture-w06.pdf
/program7/files/lecture-w07.pdf
/program8/files/lecture-w08-corrected.pdf
/test
/syllabus.pdf
Advanced_Programming_in_the_UNIX_Environment,_3rd_Edition.pdf